.App {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  width: 200px;
  height: 100%;
  background-color: #f0f0f0;
}

.nav-button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.nav-button:hover {
  background-color: #45a049;
}

.right-side {
  display: grid; 
  place-items: Top center; 
  flex-grow: 1;
  padding: 20px;
}

.shop-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100%;
}

.title {
  color: #333;
  margin-bottom: 20px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
}

.edit-form input {
  height: 50px;
  margin-bottom: 20px; 
}

.prod-id {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50px;
  width: 20%;
}
.new-disc {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50px;
}

.submit-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 25%;
}

.submit-button:hover {
  background-color: #45a049;
}
.react-datepicker__input-container input {
  height: 40px;
  width: '100%';
  padding: '10px';
  border: '1px solid #ccc';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
;
  background-color: #f0f0f0;
}

.header img {
  height: 100px;
}

.header h1 {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Cinzel, serif;
}

.home {
  text-align: center;
  padding: 20px;
}

.home-header {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

.home-section {
  margin-bottom: 20px;
}

